@using System.Data
@model DataSet

@{
    ViewBag.Title = "Bands and artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of bands and artists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name Artist or Band</th>
        <th>Description</th>
        <th colspan="3">Actions</th>
    </tr>
    @foreach (DataRow row in Model.Tables[0].Rows)
    {
        <tr>
            <td>@row["Name"]</td>
            <td>@row["Description"]</td>
            <td>@Html.ActionLink("Edit", "Edit", new { @id = @row["Id"] })</td>
            <td>@Html.ActionLink("Details", "Details", new { @id = @row["Id"] })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { @id = @row["Id"] })</td>

        </tr>
    }
    </table> 
