@using System.Data
@model DataSet[]


@{
    ViewBag.Title = "Edit performance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit performance</h2>
<div class="alert alert-warning">
    <strong>Warning!</strong>
    Cannot make a performance with the same start and enddate on a stage, that alreay exists
    <br />
    <strong>@ViewData["error"]</strong>
</div>
<form action="@Url.Action("EditSave", "Performance")" method="post">
    @foreach (DataRow row in Model[0].Tables[0].Rows)
    {
        <input type="hidden" name="id" value="@row["Id"]" runat="server" />
        <div class="form-group">
            <label>Band or artist</label>
            <br />
            <input type="text" value="@row[1]" onclick="ChangeBandToSelect(this)" runat="server" />
            <select style="display: none;" name="band_artist_id" id="bandArtist"  runat="server">
                @foreach (DataRow data in Model[1].Tables[0].Rows)
                {
                    <option value="@data["id"]">
                        @data["name"]
                    </option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Stage</label>
            <br />
            <input type="text" value="@row[4]" onclick="ChangeStageToSelect(this)" runat="server" />
            <select style="display: none;" id="stage" name="stage_id" runat="server">
                @foreach (DataRow data in Model[2].Tables[0].Rows)
                {
                    <option value="@data["id"]">
                        @data["name"]
                    </option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>startdate</label>
            <br />
            <input type="datetime" name="start_date" placeholder="@row["start_date"]" value="@row["start_date"]" runat="server" onclick="ChangeTypeStart(this)" />

        </div>
        <div class="form-group">
            <label>enddate</label>
            <br />
            <input type="text" name="end_date" placeholder="@row["end_date"]" value="@row["end_date"]" runat="server" onclick="ChangeTypeEnd(this)" />
        </div>
    }
    <input type="submit" value="Save" />
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
