@using System.Data
@model DataSet

@{
    ViewBag.Title = "Performances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of performances</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    /
    @Html.ActionLink("View as selection", "PerformanceSelection",  new { @direction = "empty" })
</p>
<div id="layout">
    @foreach (DataRow row in Model.Tables[0].Rows)
    {
    <div id="selection">
        <h4 id="date"><b>Date: @row[2] - @row[3]</b> </h4>
        <p>Band or artist: @row[1] - (@row[4])</p>
        @Html.ActionLink("Edit", "Edit", new { @id = @row["Id"] }) /
        @Html.ActionLink("Details", "Details", new { @id = @row["Id"] }) /
        @Html.ActionLink("Delete", "Delete", new { @id = @row["Id"] })
    </div>
    }
</div>
